body {
    width: fit-content;
    height: fit-content;
    margin: 3px;
    background-color: #666666;
}

textarea {
    width: 720px;
    height: 485px;
    border: solid;
    border-width: 1px;
    margin: 3px;
    resize: none;
    background-color: #CCCCCC;
    color: black !important;
}

#message {
    visibility: hidden;
    width: 560px;
    height: auto;
    border: solid;
    border-width: 0px;
    text-align: right;
    background-color: transparent;
    color: red;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.font-class {
    font-family: 'Meiryo';
    font-size: 12pt;
    font-style: normal;
    color: #CCCCCC;
}

.operation-area {
    display: flex;
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.operation-button {
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-right: 10px;
    scale: 0.7;
}

.operation-button:hover {
    opacity: 0.5;
}

.operation-button:active {
    position: relative;
    top: 2px;
}

.footer-area {
    display: flex;
    margin: 0px;
    margin-top: 5px;
    margin-left: 20px;
    align-items: center;
}