body {
    margin: 1px;
    background-color: #333333;
    overflow-x: scroll;
}

h2 {
    font-size: 24pt;
    color: #CCCCCC;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

table {
    margin: 0px;
    margin-left: 10px;
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
    table-layout: fixed;
}

table tr:nth-child(odd) {
    background-color: #555555;
}

table tr:nth-child(even) {
    background-color: #333333;
}

td {
    border: solid;
    border-width: 1px;
}

button {
    display: block;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #555555;
    color: #CCCCCC;
}

input[type="text"] {
    height: 32px;
    border: 0px;
    background-color: #CCCCCC;
    color: #333333;
}

select {
    min-width: 120px;
    height: 32px;
    border: 0px;
    background-color: transparent;
}

option {
    color: #666666
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.font-class {
    font-family: 'Meiryo';
    font-size: 12pt;
    font-style: normal;
    color: #CCCCCC;
}

/******************************************************************************/

.group-name-operation-area {
    display: flex;
    position: relative;
    left: 90px
}

.operation-buuton {
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-left: 5px;
    scale: 0.7;
}

.operation-buuton:hover {
    opacity: 0.7;
}

.operation-buuton:active {
    position: relative;
    top: 2px;
}

.table-header {
    font-weight: bold;
    text-align: center;
}

.group-name-table-scroll {
    max-height: 300px;
    width: max-content;
    overflow-y: auto;
    overflow-x: auto;
}

.order-area {
    display: flex;
}

.order-button {
    margin: 2px;
}

.remove-img {
    width: 18px;
    height: 18px;
    margin: 2px;
    margin-top: 5px;
    margin-left: 8px;
}

/******************************************************************************/

.grouping-operation-area {
    display: flex;
    position: relative;
    left: 600px
}

.grouping-table-scroll {
    width: max-content;
    max-height: 480px;
    overflow-y: scroll;
    overflow-x: auto;
}

.channel-title {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channel-account {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#status-bar {
    visibility: hidden;
    width: 770px;
    height: 24px;
    margin: 0px;
    border: solid;
    border-width: 1px;
    text-align: center;
    background-color: #000066;
}

/******************************************************************************/


#group-name-table {
    width: 270px
}

#header-group-name {
    width: 150px;
}

#header-group-order {
    width: 70px;
}

#header-group-remove {
    width: 50px;
}

#grouping-table {
    width: 740px;
}


#header-channel-name {
    width: auto;
}

#header-channel-account {
    width: 200px;
}

#header-channel-group {
    width: 120px;
}

#header-channel-order {
    width: 70px;
}

#header-channel-remove {
    width: 40px;
}

/******************************************************************************/

#subpopup-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
}

#subpopup-overlay iframe {
    width: 740px;
    height: 570px;
    position: absolute;
    top: 10px;
    left: 20px;
}