body {
    background-color: #666666;
}

textarea {
    font-family: 'Meiryo';
    font-size: 12pt;
    width: 100%;
    height: 485px;
    border: solid;
    border-width: 1px;
    resize: none;
    background-color: #CCCCCC;
    ;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.operation-area {
    display: flex;
    position: relative;
    left: 20px
}

.operation-button {
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-left: 5px;
    scale: 0.7;
}

.operation-button:hover {
    opacity: 0.5;
}

.operation-button:active {
    position: relative;
    top: 2px;
}